{% extends "layout.html" %}
{% from 'macros.html' import card %}
{% block title %}To-Do App{% endblock %} {% block
content %}
<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">
      <form action="/card/newcard" method="POST">
        <div class="form-group">
          <label for="msg">Add a new task:</label>
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Enter task name here"
          />
        </div>
        <div class="form-group">
          <label for="msg">Add a description:</label>
          <textarea
            name="desc"
            class="form-control"
            rows="4"
            placeholder="Enter task description here"
          ></textarea>
        </div>
        <div class="form-group" style="width: 12rem">
          <label for="msg">Task due date:</label>
          <input type="date" class="form-control" name="due" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm">Add Task</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
    </div>
  </div>

  <div class="row">
    {% for l in card_view_model.not_done_lists %} 
    <div class="col-md-4">
      <h6>{{l.name}}</h6>
      {% for i in card_view_model.cards %} 
      {% if i.listName==l.name %}
      {{ card(i) }}
      {% endif%} 
      {% endfor %}
    </div>
    {% endfor %}
    {% for l in card_view_model.done_lists %}
    <div class="col-md-4">
      <h6>{{l.name}}</h6>
      {% if card_view_model.show_all_done_items==True %}
      {% for i in card_view_model.all_done_items %}
      {{ card(i) }}
      {% endfor %} 
      {% else %}
      <details>
        <summary>Most Recently Completed Items</summary>
        {% for i in card_view_model.recent_done_items %}
        {{ card(i) }}
        {% endfor %}
      </details>
      <details>
        <summary>Older Completed Items</summary>
        {% for i in card_view_model.older_done_items %}
        {{ card(i) }}
        {% endfor %}
      </details>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endblock %}
</div>